Node-red HeatMap Visualizer/COVID19 Effective Reproductive Number DIY_flow.json
[{"id":"8ab20050.9c371","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"fd291478.4eb888","type":"inject","z":"8ab20050.9c371","name":"Show background","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":140,"wires":[["393f6fe7.556a9"]]},{"id":"6da17754.013c18","type":"change","z":"8ab20050.9c371","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"image","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":140,"wires":[["ff4c1cab.39416"]]},{"id":"8519dfa3.8ac0a","type":"base64","z":"8ab20050.9c371","name":"","action":"","property":"payload","x":700,"y":140,"wires":[["6da17754.013c18","56028d45.392b54"]]},{"id":"393f6fe7.556a9","type":"http request","z":"8ab20050.9c371","name":"Download image","method":"GET","ret":"bin","paytoqs":false,"url":"https://www.zenius.net/blog/wp-content/uploads/2015/04/Peta-UGM--900x600.png","tls":"","persist":false,"proxy":"","authType":"basic","x":510,"y":140,"wires":[["8519dfa3.8ac0a"]]},{"id":"56028d45.392b54","type":"debug","z":"8ab20050.9c371","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1150,"y":20,"wires":[]},{"id":"15d992e.e0d136d","type":"inject","z":"8ab20050.9c371","d":true,"name":"","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":true,"onceDelay":0.1,"x":70,"y":240,"wires":[["393f6fe7.556a9"]]},{"id":"ff4c1cab.39416","type":"ui_heat_map","z":"8ab20050.9c371","group":"26ddd2dc.cf1eee","order":0,"width":"11","height":"10","name":"","rows":"11","columns":"12","minMax":false,"minimumValue":0,"maximumValue":0,"backgroundType":"image","backgroundColor":"#ff80c0","radius":40,"opacity":"0","blur":"1","showValues":false,"gridType":"keys","valuesDecimals":0,"showLegend":false,"legendType":"none","legendDecimals":0,"legendCount":2,"x":1160,"y":380,"wires":[]},{"id":"a875b7af.3433f8","type":"inject","z":"8ab20050.9c371","name":"sampleData[16]","topic":"","payload":"[{\"1\":12},{\"2\":0},{\"3\":0},{\"4\":0},{\"5\":13},{\"6\":0},{\"7\":8},{\"8\":0},{\"9\":8},{\"10\":0},{\"11\":0},{\"12\":0},{\"13\":3},{\"14\":0},{\"15\":0},{\"16\":0}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":900,"y":220,"wires":[["ff4c1cab.39416"]]},{"id":"6508bb8b.f33814","type":"inject","z":"8ab20050.9c371","name":"sampleData[132]","topic":"","payload":"[{\"1\":1.232}, {\"2\":1.233}, {\"3\":1.235}, {\"4\":1.236}, {\"5\":1.237}, {\"6\":1.241}, {\"7\":1.243}, {\"8\":1.246}, {\"9\":1.225}, {\"10\":1.225}, {\"11\":1.228}, {\"12\":1.227}, {\"13\":1.230}, {\"14\":1.230}, {\"15\":1.232}, {\"16\":1.233}, {\"17\":1.235}, {\"18\":1.237}, {\"19\":1.240}, {\"20\":1.219}, {\"21\":1.221}, {\"22\":1.223}, {\"23\":1.223}, {\"24\":1.223}, {\"25\":1.227}, {\"26\":1.227}, {\"27\":1.230}, {\"28\":1.230}, {\"29\":1.233}, {\"30\":1.211}, {\"31\":1.214}, {\"32\":1.216}, {\"33\":1.217}, {\"34\":1.219}, {\"35\":1.220}, {\"36\":1.219}, {\"37\":1.224}, {\"38\":1.224}, {\"39\":1.226}, {\"40\":1.228}, {\"41\":1.207}, {\"42\":1.208}, {\"43\":1.211}, {\"44\":1.212}, {\"45\":1.218}, {\"46\":1.220}, {\"47\":1.219}, {\"48\":1.216}, {\"49\":1.221}, {\"50\":1.222}, {\"51\":1.228}, {\"52\":1.203}, {\"53\":1.204}, {\"54\":1.206}, {\"55\":1.208}, {\"56\":1.209}, {\"57\":1.209}, {\"58\":1.218}, {\"59\":1.211}, {\"60\":1.220}, {\"61\":1.221}, {\"62\":1.219}, {\"63\":1.198}, {\"64\":1.205}, {\"65\":1.201}, {\"66\":1.203}, {\"67\":1.210}, {\"68\":1.205}, {\"69\":1.206}, {\"70\":1.213}, {\"71\":1.207}, {\"72\":1.210}, {\"73\":1.219}, {\"74\":1.217}, {\"75\":1.223}, {\"76\":1.198}, {\"77\":1.200}, {\"78\":1.201}, {\"79\":1.208}, {\"80\":1.204}, {\"81\":1.204}, {\"82\":1.206}, {\"83\":1.206}, {\"84\":1.208}, {\"85\":1.217}, {\"86\":1.193}, {\"87\":1.199}, {\"88\":1.196}, {\"89\":1.198}, {\"90\":1.200}, {\"91\":1.201}, {\"92\":1.201}, {\"93\":1.209}, {\"94\":1.204}, {\"95\":1.205}, {\"96\":1.190}, {\"97\":1.189}, {\"98\":1.195}, {\"99\":1.196}, {\"100\":1.194}, {\"101\":1.195}, {\"102\":1.202}, {\"103\":1.203}, {\"104\":1.199}, {\"105\":1.200}, {\"106\":1.201}, {\"107\":1.179}, {\"108\":1.181}, {\"109\":1.214}, {\"110\":1.190}, {\"111\":1.190}, {\"112\":1.192}, {\"113\":1.199}, {\"114\":1.195}, {\"115\":1.196}, {\"116\":1.203}, {\"117\":1.199}, {\"118\":1.178}, {\"119\":1.178}, {\"120\":1.187}, {\"121\":1.191}, {\"122\":1.185}, {\"123\":1.192}, {\"124\":1.189}, {\"125\":1.191}, {\"126\":1.192}, {\"127\":1.200}, {\"128\":1.200}, {\"129\":1.174}, {\"130\":1.182}, {\"131\":1.184}, {\"132\":1.184}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":900,"y":440,"wires":[["ff4c1cab.39416"]]},{"id":"6d1b54bd.bdf83c","type":"mqtt in","z":"8ab20050.9c371","name":"MQTTingest","topic":"heatMap","qos":"2","datatype":"auto","broker":"7d499cfa.172fc4","x":250,"y":380,"wires":[["ff4c1cab.39416","d33d5c10.28633","393f6fe7.556a9"]]},{"id":"6bcd6e1d.b6e3f","type":"change","z":"8ab20050.9c371","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"image","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":320,"wires":[["ff4c1cab.39416"]]},{"id":"bf0d8817.7bc3a8","type":"base64","z":"8ab20050.9c371","name":"","action":"","property":"payload","x":680,"y":320,"wires":[["6bcd6e1d.b6e3f"]]},{"id":"d33d5c10.28633","type":"http request","z":"8ab20050.9c371","name":"Download image","method":"GET","ret":"bin","paytoqs":false,"url":"https://gudeg.net/cni-content/uploads/modules/posts/20170907113305.png","tls":"","persist":false,"proxy":"","authType":"basic","x":490,"y":320,"wires":[["bf0d8817.7bc3a8"]]},{"id":"26ddd2dc.cf1eee","type":"ui_group","z":"","name":"COVID-19 Effective Reproductive Number DIY","tab":"32662504.01af9a","disp":true,"width":"11","collapse":false},{"id":"7d499cfa.172fc4","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"32662504.01af9a","type":"ui_tab","z":"","name":"Heatmap","icon":"dashboard","disabled":false,"hidden":false}]