Node-red HeatMap Visualizer/flow-v2Jawa.json
[{"id":"5c0dfe3a.6704c","type":"tab","label":"500Juta","disabled":false,"info":""},{"id":"c454f77d.442c18","type":"inject","z":"5c0dfe3a.6704c","d":true,"name":"Show background","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":180,"wires":[["893d1098.c3ee5"]]},{"id":"cc9ca1a1.9da93","type":"change","z":"5c0dfe3a.6704c","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"image","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":180,"wires":[["be497500.0f52a8"]]},{"id":"9874603.94a1ca","type":"base64","z":"5c0dfe3a.6704c","name":"","action":"","property":"payload","x":700,"y":180,"wires":[["cc9ca1a1.9da93","d7e78cae.e34d"]]},{"id":"893d1098.c3ee5","type":"http request","z":"5c0dfe3a.6704c","name":"Download image","method":"GET","ret":"bin","paytoqs":false,"url":"https://www.zenius.net/blog/wp-content/uploads/2015/04/Peta-UGM--900x600.png","tls":"","persist":false,"proxy":"","authType":"basic","x":510,"y":180,"wires":[["9874603.94a1ca"]]},{"id":"d7e78cae.e34d","type":"debug","z":"5c0dfe3a.6704c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1170,"y":60,"wires":[]},{"id":"16485692.0f8399","type":"inject","z":"5c0dfe3a.6704c","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":340,"wires":[["fabf245b.7eba58"]]},{"id":"be497500.0f52a8","type":"ui_heat_map","z":"5c0dfe3a.6704c","group":"2656506b.05527","order":0,"width":"24","height":"10","name":"","rows":"16","columns":"48","minMax":true,"minimumValue":"0.8","maximumValue":"1.4","backgroundType":"image","backgroundColor":"#ff80c0","radius":"45","opacity":"0.5","blur":"1","showValues":false,"gridType":"vals","valuesDecimals":"2","showLegend":false,"legendType":"none","legendDecimals":0,"legendCount":2,"x":1160,"y":400,"wires":[]},{"id":"98fa344.141a5c8","type":"inject","z":"5c0dfe3a.6704c","name":"sampleData[16]","topic":"","payload":"[{\"1\":12},{\"2\":0},{\"3\":0},{\"4\":0},{\"5\":13},{\"6\":0},{\"7\":8},{\"8\":0},{\"9\":8},{\"10\":0},{\"11\":0},{\"12\":0},{\"13\":3},{\"14\":0},{\"15\":0},{\"16\":0}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":900,"y":260,"wires":[["be497500.0f52a8"]]},{"id":"9bd3f458.8f1c08","type":"inject","z":"5c0dfe3a.6704c","name":"sampleData[132]","topic":"","payload":"[{\"1\":1.551},{\"2\":1.55},{\"3\":1.55},{\"4\":1.55},{\"5\":1.549},{\"6\":1.551},{\"7\":1.552},{\"8\":1.553},{\"9\":1.553},{\"10\":1.551},{\"11\":1.575},{\"12\":1.572},{\"13\":1.529},{\"14\":1.55},{\"15\":1.55},{\"16\":1.549},{\"17\":1.549},{\"18\":1.55},{\"19\":1.551},{\"20\":1.551},{\"21\":1.55},{\"22\":1.55},{\"23\":1.549},{\"24\":1.548},{\"25\":1.529},{\"26\":1.527},{\"27\":1.528},{\"28\":1.526},{\"29\":1.527},{\"30\":1.549},{\"31\":1.55},{\"32\":1.55},{\"33\":1.549},{\"34\":1.549},{\"35\":1.548},{\"36\":1.546},{\"37\":1.528},{\"38\":1.527},{\"39\":1.526},{\"40\":1.526},{\"41\":1.526},{\"42\":1.525},{\"43\":1.526},{\"44\":1.525},{\"45\":1.524},{\"46\":1.547},{\"47\":1.544},{\"48\":1.545},{\"49\":1.506},{\"50\":1.506},{\"51\":1.527},{\"52\":1.527},{\"53\":1.526},{\"54\":1.526},{\"55\":1.526},{\"56\":1.525},{\"57\":1.523},{\"58\":1.523},{\"59\":1.521},{\"60\":1.522},{\"61\":1.506},{\"62\":1.505},{\"63\":1.504},{\"64\":1.504},{\"65\":1.503},{\"66\":1.525},{\"67\":1.525},{\"68\":1.523},{\"69\":1.522},{\"70\":1.521},{\"71\":1.519},{\"72\":1.52},{\"73\":1.506},{\"74\":1.506},{\"75\":1.505},{\"76\":1.465},{\"77\":1.504},{\"78\":1.503},{\"79\":1.503},{\"80\":1.501},{\"81\":1.5},{\"82\":1.521},{\"83\":1.52},{\"84\":1.52},{\"85\":1.485},{\"86\":1.484},{\"87\":1.506},{\"88\":1.505},{\"89\":1.504},{\"90\":1.504},{\"91\":1.503},{\"92\":1.501},{\"93\":1.5},{\"94\":1.499},{\"95\":1.498},{\"96\":1.497},{\"97\":1.485},{\"98\":1.485},{\"99\":1.483},{\"100\":1.483},{\"101\":1.482},{\"102\":1.504},{\"103\":1.502},{\"104\":1.479},{\"105\":1.5},{\"106\":1.498},{\"107\":1.496},{\"108\":1.496},{\"109\":1.487},{\"110\":1.486},{\"111\":1.484},{\"112\":1.484},{\"113\":1.483},{\"114\":1.482},{\"115\":1.48},{\"116\":1.478},{\"117\":1.478},{\"118\":1.499},{\"119\":1.498},{\"120\":1.497},{\"121\":1.466},{\"122\":1.462},{\"123\":1.484},{\"124\":1.484},{\"125\":1.482},{\"126\":1.481},{\"127\":1.481},{\"128\":1.479},{\"129\":1.478},{\"130\":1.477},{\"131\":1.476},{\"132\":1.474}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":900,"y":480,"wires":[["be497500.0f52a8"]]},{"id":"242cc96d.bd8226","type":"mqtt in","z":"5c0dfe3a.6704c","name":"MQTTingestDIY","topic":"heatMapDIY","qos":"2","datatype":"json","broker":"7d499cfa.172fc4","x":480,"y":420,"wires":[["be497500.0f52a8","9c57723b.e800f"]]},{"id":"bb516409.a0bc28","type":"change","z":"5c0dfe3a.6704c","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"image","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":340,"wires":[["be497500.0f52a8"]]},{"id":"cc3462a6.c6cc4","type":"base64","z":"5c0dfe3a.6704c","name":"","action":"","property":"payload","x":700,"y":340,"wires":[["bb516409.a0bc28","4b548135.fa7ac"]]},{"id":"9c57723b.e800f","type":"debug","z":"5c0dfe3a.6704c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":480,"wires":[]},{"id":"4b548135.fa7ac","type":"debug","z":"5c0dfe3a.6704c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"jsonata","x":1160,"y":260,"wires":[]},{"id":"fabf245b.7eba58","type":"file in","z":"5c0dfe3a.6704c","name":"","filename":"C:\\Users\\Wimbuh\\Desktop\\Node-red\\javMap.png","format":"","chunk":false,"sendError":false,"encoding":"none","x":410,"y":340,"wires":[["cc3462a6.c6cc4"]]},{"id":"91c0c7a1.ee1028","type":"inject","z":"5c0dfe3a.6704c","name":"","topic":"","payload":"[{\"1\":1.193}, {\"2\":1.212}, {\"3\":1.212}, {\"4\":1.212}, {\"5\":1.199}, {\"6\":1.199}, {\"7\":1.152}, {\"8\":1.160}, {\"9\":1.160}, {\"10\":1.160}, {\"11\":1.160}, {\"12\":1.105}, {\"13\":1.105}, {\"14\":1.105}, {\"15\":1.309}, {\"16\":1.309}, {\"17\":1.372}, {\"18\":1.372}, {\"19\":1.372}, {\"20\":1.323}, {\"21\":1.323}, {\"22\":1.327}, {\"23\":1.327}, {\"24\":1.327}, {\"25\":1.286}, {\"26\":1.286}, {\"27\":1.338}, {\"28\":1.338}, {\"29\":1.338}, {\"30\":1.353}, {\"31\":1.353}, {\"32\":1.394}, {\"33\":1.394}, {\"34\":1.394}, {\"35\":1.394}, {\"36\":1.394}, {\"37\":1.416}, {\"38\":1.416}, {\"39\":1.416}, {\"40\":1.398}, {\"41\":1.398}, {\"42\":1.390}, {\"43\":1.390}, {\"44\":1.390}, {\"45\":1.327}, {\"46\":1.327}, {\"47\":1.286}, {\"48\":1.286}, {\"49\":1.193}, {\"50\":1.212}, {\"51\":1.212}, {\"52\":1.212}, {\"53\":1.199}, {\"54\":1.152}, {\"55\":1.160}, {\"56\":1.160}, {\"57\":1.160}, {\"58\":1.160}, {\"59\":1.161}, {\"60\":1.156}, {\"61\":1.105}, {\"62\":1.105}, {\"63\":1.309}, {\"64\":1.309}, {\"65\":1.372}, {\"66\":1.372}, {\"67\":1.372}, {\"68\":1.323}, {\"69\":1.323}, {\"70\":1.327}, {\"71\":1.327}, {\"72\":1.327}, {\"73\":1.286}, {\"74\":1.286}, {\"75\":1.338}, {\"76\":1.338}, {\"77\":1.338}, {\"78\":1.353}, {\"79\":1.353}, {\"80\":1.394}, {\"81\":1.394}, {\"82\":1.394}, {\"83\":1.394}, {\"84\":1.394}, {\"85\":1.416}, {\"86\":1.416}, {\"87\":1.416}, {\"88\":1.398}, {\"89\":1.398}, {\"90\":1.390}, {\"91\":1.390}, {\"92\":1.390}, {\"93\":1.327}, {\"94\":1.327}, {\"95\":1.286}, {\"96\":1.286}, {\"97\":1.193}, {\"98\":1.212}, {\"99\":1.212}, {\"100\":1.212}, {\"101\":1.199}, {\"102\":1.152}, {\"103\":1.160}, {\"104\":1.160}, {\"105\":1.160}, {\"106\":1.161}, {\"107\":1.161}, {\"108\":1.161}, {\"109\":1.105}, {\"110\":1.105}, {\"111\":1.309}, {\"112\":1.309}, {\"113\":1.372}, {\"114\":1.372}, {\"115\":1.372}, {\"116\":1.323}, {\"117\":1.323}, {\"118\":1.327}, {\"119\":1.327}, {\"120\":1.327}, {\"121\":1.286}, {\"122\":1.286}, {\"123\":1.338}, {\"124\":1.338}, {\"125\":1.338}, {\"126\":1.353}, {\"127\":1.353}, {\"128\":1.394}, {\"129\":1.394}, {\"130\":1.394}, {\"131\":1.394}, {\"132\":1.394}, {\"133\":1.416}, {\"134\":1.416}, {\"135\":1.416}, {\"136\":1.398}, {\"137\":1.398}, {\"138\":1.390}, {\"139\":1.390}, {\"140\":1.390}, {\"141\":1.327}, {\"142\":1.327}, {\"143\":1.286}, {\"144\":1.286}, {\"145\":1.249}, {\"146\":1.201}, {\"147\":1.201}, {\"148\":1.201}, {\"149\":0.947}, {\"150\":1.172}, {\"151\":1.160}, {\"152\":1.174}, {\"153\":1.174}, {\"154\":1.174}, {\"155\":1.174}, {\"156\":1.156}, {\"157\":0.884}, {\"158\":0.884}, {\"159\":0.895}, {\"160\":0.895}, {\"161\":0.942}, {\"162\":0.942}, {\"163\":0.942}, {\"164\":1.286}, {\"165\":1.286}, {\"166\":1.223}, {\"167\":1.223}, {\"168\":1.223}, {\"169\":1.260}, {\"170\":1.260}, {\"171\":1.286}, {\"172\":1.088}, {\"173\":1.286}, {\"174\":1.125}, {\"175\":1.125}, {\"176\":1.293}, {\"177\":1.293}, {\"178\":1.293}, {\"179\":1.342}, {\"180\":1.342}, {\"181\":1.409}, {\"182\":1.409}, {\"183\":1.409}, {\"184\":1.405}, {\"185\":1.405}, {\"186\":1.409}, {\"187\":1.409}, {\"188\":1.409}, {\"189\":1.420}, {\"190\":1.420}, {\"191\":1.464}, {\"192\":1.464}, {\"193\":1.249}, {\"194\":1.201}, {\"195\":1.201}, {\"196\":1.201}, {\"197\":0.947}, {\"198\":0.947}, {\"199\":1.174}, {\"200\":1.174}, {\"201\":1.174}, {\"202\":1.174}, {\"203\":1.174}, {\"204\":1.156}, {\"205\":0.884}, {\"206\":0.884}, {\"207\":0.895}, {\"208\":0.895}, {\"209\":0.942}, {\"210\":0.942}, {\"211\":0.942}, {\"212\":1.286}, {\"213\":1.286}, {\"214\":1.223}, {\"215\":1.223}, {\"216\":1.223}, {\"217\":1.260}, {\"218\":1.088}, {\"219\":1.088}, {\"220\":1.088}, {\"221\":1.088}, {\"222\":1.125}, {\"223\":1.125}, {\"224\":1.293}, {\"225\":1.293}, {\"226\":1.293}, {\"227\":1.342}, {\"228\":1.342}, {\"229\":1.409}, {\"230\":1.409}, {\"231\":1.409}, {\"232\":1.405}, {\"233\":1.405}, {\"234\":1.409}, {\"235\":1.409}, {\"236\":1.409}, {\"237\":1.420}, {\"238\":1.420}, {\"239\":1.464}, {\"240\":1.464}, {\"241\":1.271}, {\"242\":1.234}, {\"243\":1.234}, {\"244\":1.234}, {\"245\":1.208}, {\"246\":1.208}, {\"247\":1.107}, {\"248\":1.156}, {\"249\":1.156}, {\"250\":1.156}, {\"251\":1.156}, {\"252\":1.137}, {\"253\":1.137}, {\"254\":1.137}, {\"255\":1.018}, {\"256\":1.018}, {\"257\":1.009}, {\"258\":1.009}, {\"259\":1.009}, {\"260\":1.021}, {\"261\":1.021}, {\"262\":1.099}, {\"263\":1.099}, {\"264\":1.099}, {\"265\":1.088}, {\"266\":1.088}, {\"267\":1.088}, {\"268\":1.088}, {\"269\":1.088}, {\"270\":1.088}, {\"271\":1.092}, {\"272\":1.062}, {\"273\":1.062}, {\"274\":1.062}, {\"275\":1.054}, {\"276\":1.054}, {\"277\":1.229}, {\"278\":1.229}, {\"279\":1.229}, {\"280\":1.040}, {\"281\":1.040}, {\"282\":1.204}, {\"283\":1.204}, {\"284\":1.204}, {\"285\":1.350}, {\"286\":1.350}, {\"287\":1.334}, {\"288\":1.334}, {\"289\":1.271}, {\"290\":1.234}, {\"291\":1.234}, {\"292\":1.234}, {\"293\":1.208}, {\"294\":1.208}, {\"295\":1.107}, {\"296\":1.107}, {\"297\":1.107}, {\"298\":1.018}, {\"299\":1.018}, {\"300\":1.137}, {\"301\":1.137}, {\"302\":1.137}, {\"303\":1.018}, {\"304\":1.018}, {\"305\":1.009}, {\"306\":1.009}, {\"307\":1.009}, {\"308\":1.021}, {\"309\":1.021}, {\"310\":1.099}, {\"311\":1.099}, {\"312\":1.099}, {\"313\":1.088}, {\"314\":1.088}, {\"315\":1.088}, {\"316\":1.088}, {\"317\":1.088}, {\"318\":1.088}, {\"319\":1.092}, {\"320\":1.062}, {\"321\":1.062}, {\"322\":1.062}, {\"323\":1.054}, {\"324\":1.054}, {\"325\":1.229}, {\"326\":1.229}, {\"327\":1.229}, {\"328\":1.040}, {\"329\":1.040}, {\"330\":1.204}, {\"331\":1.204}, {\"332\":1.204}, {\"333\":1.350}, {\"334\":1.350}, {\"335\":1.334}, {\"336\":1.334}, {\"337\":1.271}, {\"338\":1.234}, {\"339\":1.234}, {\"340\":1.234}, {\"341\":1.208}, {\"342\":1.208}, {\"343\":1.107}, {\"344\":1.107}, {\"345\":1.107}, {\"346\":1.018}, {\"347\":1.018}, {\"348\":1.137}, {\"349\":1.137}, {\"350\":1.137}, {\"351\":1.018}, {\"352\":1.018}, {\"353\":1.009}, {\"354\":1.009}, {\"355\":1.009}, {\"356\":1.021}, {\"357\":1.021}, {\"358\":1.099}, {\"359\":1.099}, {\"360\":1.099}, {\"361\":1.088}, {\"362\":1.088}, {\"363\":1.088}, {\"364\":1.088}, {\"365\":1.088}, {\"366\":1.088}, {\"367\":1.092}, {\"368\":1.062}, {\"369\":1.062}, {\"370\":1.062}, {\"371\":1.054}, {\"372\":1.054}, {\"373\":1.229}, {\"374\":1.229}, {\"375\":1.229}, {\"376\":1.040}, {\"377\":1.040}, {\"378\":1.204}, {\"379\":1.204}, {\"380\":1.204}, {\"381\":1.350}, {\"382\":1.350}, {\"383\":1.334}, {\"384\":1.334}, {\"385\":1.241}, {\"386\":1.271}, {\"387\":1.271}, {\"388\":1.271}, {\"389\":1.249}, {\"390\":1.249}, {\"391\":1.249}, {\"392\":1.249}, {\"393\":1.249}, {\"394\":1.197}, {\"395\":1.197}, {\"396\":1.159}, {\"397\":1.159}, {\"398\":1.159}, {\"399\":1.039}, {\"400\":1.039}, {\"401\":0.985}, {\"402\":0.985}, {\"403\":0.985}, {\"404\":1.066}, {\"405\":1.066}, {\"406\":1.003}, {\"407\":1.003}, {\"408\":1.003}, {\"409\":1.095}, {\"410\":1.088}, {\"411\":1.088}, {\"412\":1.088}, {\"413\":1.088}, {\"414\":1.088}, {\"415\":1.104}, {\"416\":0.958}, {\"417\":0.958}, {\"418\":0.958}, {\"419\":0.951}, {\"420\":0.951}, {\"421\":1.022}, {\"422\":1.022}, {\"423\":1.022}, {\"424\":1.298}, {\"425\":1.298}, {\"426\":1.319}, {\"427\":1.319}, {\"428\":1.319}, {\"429\":1.238}, {\"430\":1.238}, {\"431\":1.294}, {\"432\":1.294}, {\"433\":1.241}, {\"434\":1.271}, {\"435\":1.271}, {\"436\":1.271}, {\"437\":1.249}, {\"438\":1.249}, {\"439\":1.249}, {\"440\":1.249}, {\"441\":1.249}, {\"442\":1.197}, {\"443\":1.197}, {\"444\":1.159}, {\"445\":1.159}, {\"446\":1.159}, {\"447\":1.039}, {\"448\":1.039}, {\"449\":0.985}, {\"450\":0.985}, {\"451\":0.985}, {\"452\":1.066}, {\"453\":1.066}, {\"454\":1.003}, {\"455\":1.003}, {\"456\":1.003}, {\"457\":1.095}, {\"458\":1.095}, {\"459\":1.088}, {\"460\":1.088}, {\"461\":1.096}, {\"462\":1.104}, {\"463\":1.104}, {\"464\":0.958}, {\"465\":0.958}, {\"466\":0.958}, {\"467\":0.951}, {\"468\":0.951}, {\"469\":1.022}, {\"470\":1.022}, {\"471\":1.022}, {\"472\":1.298}, {\"473\":1.298}, {\"474\":1.319}, {\"475\":1.319}, {\"476\":1.319}, {\"477\":1.238}, {\"478\":1.238}, {\"479\":1.294}, {\"480\":1.294}, {\"481\":1.312}, {\"482\":1.290}, {\"483\":1.290}, {\"484\":1.290}, {\"485\":1.294}, {\"486\":1.294}, {\"487\":1.249}, {\"488\":1.249}, {\"489\":1.249}, {\"490\":1.234}, {\"491\":1.234}, {\"492\":1.163}, {\"493\":1.163}, {\"494\":1.163}, {\"495\":1.235}, {\"496\":1.235}, {\"497\":1.290}, {\"498\":1.290}, {\"499\":1.290}, {\"500\":1.241}, {\"501\":1.241}, {\"502\":1.174}, {\"503\":1.174}, {\"504\":1.174}, {\"505\":1.128}, {\"506\":1.128}, {\"507\":0.966}, {\"508\":0.966}, {\"509\":0.966}, {\"510\":1.030}, {\"511\":1.030}, {\"512\":1.027}, {\"513\":1.027}, {\"514\":1.027}, {\"515\":0.944}, {\"516\":0.944}, {\"517\":1.044}, {\"518\":1.044}, {\"519\":1.044}, {\"520\":1.148}, {\"521\":1.148}, {\"522\":1.059}, {\"523\":1.059}, {\"524\":1.059}, {\"525\":1.074}, {\"526\":1.074}, {\"527\":1.227}, {\"528\":1.227}, {\"529\":1.312}, {\"530\":1.290}, {\"531\":1.290}, {\"532\":1.290}, {\"533\":1.294}, {\"534\":1.294}, {\"535\":1.249}, {\"536\":1.249}, {\"537\":1.249}, {\"538\":1.234}, {\"539\":1.234}, {\"540\":1.163}, {\"541\":1.163}, {\"542\":1.163}, {\"543\":1.235}, {\"544\":1.235}, {\"545\":1.290}, {\"546\":1.290}, {\"547\":1.290}, {\"548\":1.241}, {\"549\":1.241}, {\"550\":1.174}, {\"551\":1.174}, {\"552\":1.174}, {\"553\":1.128}, {\"554\":1.128}, {\"555\":0.966}, {\"556\":0.966}, {\"557\":0.966}, {\"558\":1.030}, {\"559\":1.030}, {\"560\":1.027}, {\"561\":1.027}, {\"562\":1.027}, {\"563\":0.944}, {\"564\":0.944}, {\"565\":1.044}, {\"566\":1.044}, {\"567\":1.044}, {\"568\":1.148}, {\"569\":1.148}, {\"570\":1.059}, {\"571\":1.059}, {\"572\":1.059}, {\"573\":1.074}, {\"574\":1.074}, {\"575\":1.227}, {\"576\":1.227}, {\"577\":1.312}, {\"578\":1.290}, {\"579\":1.290}, {\"580\":1.290}, {\"581\":1.294}, {\"582\":1.294}, {\"583\":1.249}, {\"584\":1.249}, {\"585\":1.249}, {\"586\":1.234}, {\"587\":1.234}, {\"588\":1.163}, {\"589\":1.163}, {\"590\":1.163}, {\"591\":1.235}, {\"592\":1.235}, {\"593\":1.290}, {\"594\":1.290}, {\"595\":1.290}, {\"596\":1.241}, {\"597\":1.241}, {\"598\":1.174}, {\"599\":1.174}, {\"600\":1.174}, {\"601\":1.128}, {\"602\":1.128}, {\"603\":0.966}, {\"604\":0.966}, {\"605\":0.966}, {\"606\":1.030}, {\"607\":1.030}, {\"608\":1.027}, {\"609\":1.027}, {\"610\":1.027}, {\"611\":0.944}, {\"612\":0.944}, {\"613\":1.044}, {\"614\":1.044}, {\"615\":1.044}, {\"616\":1.148}, {\"617\":1.148}, {\"618\":1.059}, {\"619\":1.059}, {\"620\":1.059}, {\"621\":1.074}, {\"622\":1.074}, {\"623\":1.227}, {\"624\":1.227}, {\"625\":1.338}, {\"626\":1.316}, {\"627\":1.316}, {\"628\":1.316}, {\"629\":1.338}, {\"630\":1.338}, {\"631\":1.271}, {\"632\":1.271}, {\"633\":1.271}, {\"634\":1.256}, {\"635\":1.256}, {\"636\":1.208}, {\"637\":1.208}, {\"638\":1.208}, {\"639\":1.137}, {\"640\":1.137}, {\"641\":1.249}, {\"642\":1.249}, {\"643\":1.249}, {\"644\":1.196}, {\"645\":1.196}, {\"646\":1.155}, {\"647\":1.155}, {\"648\":1.155}, {\"649\":1.171}, {\"650\":1.171}, {\"651\":1.185}, {\"652\":1.185}, {\"653\":1.185}, {\"654\":1.215}, {\"655\":1.215}, {\"656\":1.155}, {\"657\":1.155}, {\"658\":1.155}, {\"659\":1.226}, {\"660\":1.226}, {\"661\":1.212}, {\"662\":1.212}, {\"663\":1.212}, {\"664\":1.208}, {\"665\":1.208}, {\"666\":1.194}, {\"667\":1.194}, {\"668\":1.194}, {\"669\":0.911}, {\"670\":0.911}, {\"671\":1.223}, {\"672\":1.223}, {\"673\":1.338}, {\"674\":1.316}, {\"675\":1.316}, {\"676\":1.316}, {\"677\":1.338}, {\"678\":1.338}, {\"679\":1.271}, {\"680\":1.271}, {\"681\":1.271}, {\"682\":1.256}, {\"683\":1.256}, {\"684\":1.208}, {\"685\":1.208}, {\"686\":1.208}, {\"687\":1.137}, {\"688\":1.137}, {\"689\":1.249}, {\"690\":1.249}, {\"691\":1.249}, {\"692\":1.196}, {\"693\":1.196}, {\"694\":1.155}, {\"695\":1.155}, {\"696\":1.155}, {\"697\":1.171}, {\"698\":1.171}, {\"699\":1.185}, {\"700\":1.185}, {\"701\":1.185}, {\"702\":1.215}, {\"703\":1.215}, {\"704\":1.155}, {\"705\":1.155}, {\"706\":1.155}, {\"707\":1.226}, {\"708\":1.226}, {\"709\":1.212}, {\"710\":1.212}, {\"711\":1.212}, {\"712\":1.208}, {\"713\":1.208}, {\"714\":1.194}, {\"715\":1.194}, {\"716\":1.194}, {\"717\":0.911}, {\"718\":0.911}, {\"719\":1.223}, {\"720\":1.223}, {\"721\":1.383}, {\"722\":1.383}, {\"723\":1.383}, {\"724\":1.383}, {\"725\":1.361}, {\"726\":1.361}, {\"727\":1.316}, {\"728\":1.316}, {\"729\":1.316}, {\"730\":1.182}, {\"731\":1.182}, {\"732\":1.185}, {\"733\":1.185}, {\"734\":1.185}, {\"735\":1.137}, {\"736\":1.137}, {\"737\":1.238}, {\"738\":1.238}, {\"739\":1.238}, {\"740\":1.185}, {\"741\":1.185}, {\"742\":1.170}, {\"743\":1.170}, {\"744\":1.170}, {\"745\":1.170}, {\"746\":1.170}, {\"747\":1.155}, {\"748\":1.155}, {\"749\":1.155}, {\"750\":1.151}, {\"751\":1.151}, {\"752\":1.170}, {\"753\":1.170}, {\"754\":1.170}, {\"755\":1.203}, {\"756\":1.203}, {\"757\":1.166}, {\"758\":1.166}, {\"759\":1.166}, {\"760\":1.144}, {\"761\":1.144}, {\"762\":1.129}, {\"763\":1.129}, {\"764\":1.129}, {\"765\":1.170}, {\"766\":1.170}, {\"767\":1.122}, {\"768\":1.122}]","payloadType":"json","repeat":"2","crontab":"","once":true,"onceDelay":0.1,"x":270,"y":400,"wires":[["9c57723b.e800f","be497500.0f52a8"]]},{"id":"2656506b.05527","type":"ui_group","z":"","name":"Heat Jawa","tab":"57ef426a.a5763c","disp":true,"width":"24","collapse":false},{"id":"7d499cfa.172fc4","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"57ef426a.a5763c","type":"ui_tab","z":"","name":"500Juta","icon":"dashboard","disabled":false,"hidden":false}]
